/* header section */
.container_contact {
  padding: 0 15px;
  width: 1200px;
  height: 80px;
  margin: 0 auto;
}
.header_section {
  border-bottom: 1px solid grey;
}
.bigtitle_section_btn:hover {
  cursor: pointer;
}

.our_team_card {
  display: flex;
  gap: 37px;
}
/* footer section */

/* redes sociales */
