.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}
.clients__icon:hover {
  fill: #2196f3;
}
.clients__list {
  display: flex;
  list-style: none;
  justify-content: space-around;
  box-sizing: border-box;
}
.clients__title {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-block-start: 94px;
  margin-block-end: 50px;
}
.clients__item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  margin-right: 94px auto;
  cursor: pointer;
  margin-block-end: 94px;
}
.clients__item:hover,
.clients__item:focus {
  background: #ffffff;
  border-color: #2196f3;
}
