.main_portafolio_section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portafolio_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.nav_button {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.nav_button__btn {
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 24px;
  color: #212121;
  border: 0;
}
.nav_button__btn:hover {
  background-color: #2196f3;
  color: #f4f7fa;
  cursor: pointer;
}

// tarjetas
.main_imagin {
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  border: 1px solid #eeeeee;
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}
.card_body {
  padding: 20px 24px;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}
.card_title {
  display: flex;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}
.card_description {
  display: flex;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* caja sobre puesta */
.card_emergent {
  position: absolute;
  top: 0;
  height: 294px;
  width: 370px;
  font-family: roboto;
  background: rgba(33, 150, 243, 0.9);
  letter-spacing: 0, 03em;
  color: #ffffff;
  padding: 63px 24px;

  transform: transLateY(190%);
  transition: transform 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card:hover .card_emergent {
  transform: translateY(0%);
}
.card_animation {
  overflow: hidden;
  position: relative;
}
.card:hover,
.card:focus {
  border: 1px solid #2196f3;
  cursor: pointer;
}
.card_imagin {
  object-fit: cover;
}
